/* global */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #111;
}
a, button, input {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
}
h1 {
  padding-bottom: 12px;
  font-size: 48px;
  font-weight: 100;
}
.contents_font {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}
.contents_font_bold {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}
.contents_font_small {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}
.large_font {
  font-size: 24px;
}
.font_white {
  color: #fff;
}

/** intro **/
.intro_bg {
  background-image: url("img-tamo/intro.png");
  width: 100%;
  height: 718px;
}

/* header */
header#header {
  width: 1280px;
  height: 86px;
  margin: auto;
  display: flex;
  align-items: center;
}

.search_area {
  width: 300px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.search_area > form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_area > form > input {
  height: 100%;
  padding-left: 10px;
  text-align: left;
  border: none;
  flex: 4 0 0;
}
.search_area > form > button.search_btn {
  height: 100%;
  flex: 1 0 0;
  cursor: pointer;
}

ul#nav {
  width: calc(1280px - 300px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
ul#nav > li {
  margin-left: 84px;
}

/* intro text */
.intro_text {
  width: 100%;
  height: 632px;
  padding-bottom: 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/** amount **/
.amount {
  width: 1280px;
  height: 132px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: -66px;
  display: flex;
}
.amount > li {
  height: 132px;
  flex: 1 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.amount > li > div {
  height: 57px;
  flex: 1 0 0;
}
.amount > li:not(:first-child) > div {
  border-left: 1px solid #e1e1e1;
}
.amount > li > div > * {
  line-height: 28.5px;
}

/** about **/
.about {
  width: 100%;
  height: 601px;
  margin-top: -132px;
  background: #f1f2f3;
}
.about > h1 {
  padding-top: 116px;
}

/* icons */
ul.icons {
  width: 1280px;
  height: 302px;
  margin: 50px auto 0px;
  display: flex;
  justify-content: space-between;
}
ul.icons > li {
  width: 413px;
  padding-top: 36px;
  background: #fff;
}
ul.icons > li button {
  width: 100px;
  height: 30px;
  margin-top: 25px;
  background-color: #2f7af4;
  cursor: pointer;
}
ul.icons > li button:active {
  background-color: #2868ce;
}

/** service **/
.service {
  width: 100%;
  height: 659px;
}
.service > h1 {
  padding-top: 50px;
}
.service_contents {
  width: 1280px;
  height: 427px;
  margin: 49px auto;
  display: flex;
}
.service_textbox {
  margin-bottom: 50px;
  padding-left: 20px;
  text-align: left;
}
.service_textbox p {
  font-size: 18px;
  line-height: 24px;
}